<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/_head');%>

    
    <!-- <link rel="stylesheet" type="text/css" href= " <%= path('./css/home_layout.css')%> " > -->
    <%- style %>
</head>
<body>
    <%- body %>
    <%- script %>
</body>
</html>