<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/_head');%>
   
    <link rel="stylesheet" type="text/css" href= " <%= path('./css/user_layout.css')%> " >
    <%- style %>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/eb17531673.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div  class="row stick" id="header">
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 " style="background-color: white;">
                <a href="/"><img src="<%= path('./images/user-logo.png') %>" alt="The Beautiful Game"></a>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-9 " id="main-header">
                <!-- <h2>Todo: Heading is passed dynamically</h2> -->
                <h2>Heading</h2>
                     <div  id="hamburger">
                        <!-- Collapse button -->
                        <button class="navbar-toggler my-button" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="animated-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                     <!-- Collapsible content -->
                     </div>
                    
                 <!-- Collapsible content -->
            </div>
        </div>
        <div class="row">
            <div id="navigation_container" class="col-md-4 col-lg-3 d-none d-sm-none d-md-block" style="padding-left: 0px;">
                <div id="navigation" class="collapse">
                    <ul>
                        <a href="/home"><li><i class="fas fa-house-user margin"></i>Home</li></a>
                        <a href="/trending"><li><i class="fas fa-chart-line margin"></i>Trending</li></a>
                        <a href="/notifications"><li><i class="far fa-bell margin"></i>Notifications</li></a>
                        <a href="/chat_box"><li><i class="far fa-comments margin"></i>Chat</li></a>
                        <a href="/post"><li><i class="fas fa-pen margin"></i>Post</li></a>
                        <a href="/search"><li><i class="fas fa-search margin"></i>Search</li></a>
                        <a href="/logout"><li><i class="fas fa-sign-out-alt margin"></i>Logout</li></a>
                        <a href="/profile"><li>profile pic, name</li></a>
                        <!-- to be completed -->
                    </ul>
                </div>
                
            </div>
            <div id="main-content" class="col-12 col-sm-12 col-md-8 col-lg-9" style="background-color: rgb(255, 255, 255); border-left: 1px solid black; border-right: 1px solid black;" >
                <!-- <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum nam expedita magnam quia eum soluta tenetur corporis aspernatur pariatur facere et doloremque, labore, eos necessitatibus harum quas, totam sint.
                </p> -->
                <%- body %>
            </div>

        </div>
    </div>
    
    

    <!-- bootstrap jquery link -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="<%=path('./js/user_layout_script.js')%>"></script>
    <%- script %>
</body>
</html>