<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="shortcut icon" href=" <%= path('./images/favicon.png')%> ">

    <title>
        <%= title %> 
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="football related content">
    <meta name="keywords" content="football, premier league, La-liga, Ligue-1, Bundesliga, Serie-a">

    
    <link rel="stylesheet" type="text/css" href= " <%= path('./css/home_layout.css')%> " >
    <%- style %>
</head>
<body>
    <%- body %>
    <%- script %>
</body>
</html>